{% extends 'MyBlogBundle::base.html.twig' %}

{% block page_title '新規作成' %}

{% block content %}
<form action="{{ path('blog_new') }}" method="post" {{ form_enctype(form) }}>
  {{ form_widget(form) }}
  <button class="btn btn-primary">作成</button>
</form>
{% endblock content %}
