{% extends 'MyBlogBundle::base.html.twig' %}

{% block page_title %}{{ post.title }}{% endblock %}

{% block content %}
<p><small>Created: {{ post.createdAt|date('Y/m/d H:i') }}</small></p>
<p>{{ post.body|nl2br }}</p>
<p><a href="{{ path('blog_index') }}">一覧に戻る</a></p>
{% endblock content %}
